.nav-filter{
    margin-top: 16.48px;
    margin-left: 18px;
    overflow-x: auto;
    display: flex;
}
.nav-filter__button{
    margin-right: 22px;
    padding: 11.5px 15px 11.5px 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--Product-2);
    border-radius: 30px;
    box-sizing: border-box;
}
.nav-filter__button:hover{
    border: 1.5px solid var(--Grey-4);
    cursor: pointer;
}
.nav-filter__button--grey-1{
    background: var(--Grey-1);
    padding: 11.5px 15px;
}
.nav-filter__button--product-2{
    background: var(--Product-2);
    background-image: url('/assets/img/Icon_bread.png');
    background-repeat: no-repeat;
    background-size: 19px;
    background-position-y: center;
    background-position-x: 15px;
}
.nav-filter__button--product-3{
    background: var(--Product-3);
    background-image: url('/assets/img/Icon_glass\ of\ wine.png');
    background-repeat: no-repeat;
    background-size: 19px;
    background-position-y: center;
    background-position-x: 15px;
}
.nav-filter__button--product-4{
    background: var(--Product-4);
    background-image: url('/assets/img/Icon_fruits.png');
    background-repeat: no-repeat;
    background-size: 19px;
    background-position-y: center;
    background-position-x: 15px;
}

/* Showcase */
.showcase {
    display: flex;
    overflow-x: auto;
    width: 100%;
    gap: 23px
}

/* Showcase Cards */
.showcase-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.showcase-card__figure {
    width: 100%;
    height: 200px;
}
.showcase-card__image {
    width: 100%;
    height: auto;
}
.showcase-card__text-container {
    position: relative
}
.showcase-card__tag {
    font-family: var(--Fonts-poppins);
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    position: absolute;
    top: -16px;
    left: 12px;
    padding: 6px 18px 6px 42px;
    border-radius: 30px;
    background-color: var(--Color-primary-50);
    background-image: url('/assets/img/Icon_bread.png');
    background-position-y: center;
    background-position-x: 18px;
    background-repeat: no-repeat;
    background-size: 15px;
    color: var(--Grey-4);
}
.showcase-card__title {  
    font-family: var(--Fonts-poppins);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 27px;
}
.showcase-card__description {
    font-family: var(--Fonts-poppins);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
}
.showcase-card__price {
    font-family: var(--Fonts-poppins);
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    margin: 27px 0 11px;
    color: var(--Grey-4)
}
.showcase-card__button {
    background-color: var(--Color-Secondary-50);
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 0;
    right:5px;
    background-image: url('/assets/img/Logo_Cart_Comprar.png');
    background-position-x: 8px;
    background-position-y: 9px;
    background-repeat: no-repeat;
    background-size: 50%;
}
    .showcase-card__button:hover {
        background-image: url('/assets/img/Logo_Cart_Comprar_White.png');
        background-color: var(--Color-Secondary);
        cursor: pointer;
    }

