.nav-filter{
    margin-top: 16.48px;
    overflow-x: auto;
    display: flex;
    padding-bottom: 13px;
    padding-left: 18px;
}
.nav-filter__button{
    margin-right: 22px;
    padding: 11.5px 15px 11.5px 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: border-color 0.2s;
}
.nav-filter__button:hover{
    border: 2px solid var(--Grey-4);
    cursor: pointer;
}
.nav-filter__button--grey-1{
    background: var(--Grey-1);
    padding: 11.5px 15px;
}
.nav-filter__button--product-2{
    background: var(--Product-2);
    background-image: url('/assets/img/Icon_bread.png');
    background-repeat: no-repeat;
    background-size: 19px;
    background-position-y: center;
    background-position-x: 15px;
}
.nav-filter__button--product-3{
    background: var(--Product-3);
    background-image: url('/assets/img/Icon_glass\ of\ wine.png');
    background-repeat: no-repeat;
    background-size: 19px;
    background-position-y: center;
    background-position-x: 15px;
}
.nav-filter__button--product-4{
    background: var(--Product-4);
    background-image: url('/assets/img/Icon_fruits.png');
    background-repeat: no-repeat;
    background-size: 19px;
    background-position-y: center;
    background-position-x: 15px;
}

/* Shopcart */
.shopcart {
    margin-top: 27px;
    padding: 0 18px;
}
.shopcart__header {
    display: flex;
    width: 100%;
    height: 59.85px;
    border-radius: 14.9625px 14.9625px 0px 0px;
    background-color: var(--Color-primary);
    align-items: center;
    margin-bottom: 8px;
}

.shopcart__title {
    font-family: var(--Fonts-poppins);
    font-weight: 700;
    font-size: 17.1px;
    color: #FFFF;
}

.shopcart__image_cart {
    margin: 20px;
    width: 15.09px;
    height: 15.09px;
}

.shopcart__empty-box {
    background-color: var(--Grey-1);
    width: 100%;
    height: 432.84px;
    display: flex;
    font-family: var(--Fonts-poppins);
    font-weight: 400;
    font-size: 17.1px;
    color: var(--Grey-3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopcart__empty-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 18px;
}

.shopcart__empty-text {
    text-align: center;
    width: 220px;
}

.shopcart__image {
    width: 42.48px;
    height: 47.2px;
    margin-bottom: 24px;
}

/* Showcase */
.showcase {
    margin-top: 14px;
    padding-left: 18px;
    display: flex;
    overflow-x: auto;
    width: 100%;
    gap: 23px;
    box-sizing: border-box;
}
/* Showcase Cards */
.showcase-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
    .showcase-card:hover .showcase-card__figure{
        border: 3px solid var(--Color-primary);

    }

.showcase-card__figure {
    width: 100%;
    height: 200px;
    border: 3px solid var(--Color-primary-50);
    transition: border-color 0.2s;
    border-radius: 8px;
}
.showcase-card__image {
    width: 100%;
    height: auto;
}
.showcase-card__text-container {
    position: relative
}
.showcase-card__tag {
    font-family: var(--Fonts-poppins);
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    position: absolute;
    top: -16px;
    left: 12px;
    padding: 6px 18px 6px 42px;
    border-radius: 30px;
    background-color: var(--Color-primary-50);
    background-image: url('/assets/img/Icon_bread.png');
    background-position-y: center;
    background-position-x: 18px;
    background-repeat: no-repeat;
    background-size: 15px;
    color: var(--Grey-4);
}
.showcase-card__title {  
    font-family: var(--Fonts-poppins);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 27px;
}
.showcase-card__description {
    font-family: var(--Fonts-poppins);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
}
.showcase-card__price {
    font-family: var(--Fonts-poppins);
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    margin: 27px 0 11px;
    color: var(--Grey-4)
}
.showcase-card__button {
    background-color: var(--Color-Secondary-50);
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 0;
    right:5px;
    background-image: url('/assets/img/Logo_Cart_Comprar.png');
    background-position-x: 8px;
    background-position-y: 9px;
    background-repeat: no-repeat;
    background-size: 50%;
    transition: background-color 0.2s;
}
    .showcase-card__button:hover {
        background-image: url('/assets/img/Logo_Cart_Comprar_White.png');
        background-color: var(--Color-Secondary);
        cursor: pointer;
    }

.shopcart-card{
    display: flex;
    align-content: flex-start;
    position: relative;
    height: 75px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 46px;

}

.shopcart-card__figure{
    height: 75px;
    width: 75px;
    margin: 0 10px;
    margin-right: 13px;
}

.shopcart-card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8.625px;
}

.shopcart-card__title{
    font-family: var(--Fonts-poppins);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 6px;
    margin-right: 25px;
    padding-bottom: 5px;
    width: calc(80% - 95px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shopcart-card__tag{
    font-family: var(--Fonts-poppins);
    font-weight: 400;
    font-size: 10px;
    color:var(--Grey-3);
    line-height: 16px;
    width: calc(80% - 95px);
    margin: 3px 0px 8px;
}

.shopcart-card__price{
    font-family: var(--Fonts-poppins);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: calc(80% - 95px);
}

.shopcart-card__button{
    position: absolute;
    right: 10px;
    top: 0;
    background-image: url("../img/trash.png");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-color:var(--Grey-1);
    border:none;
    border-radius: 5px;
    width: 27px;
    height: 27px;
}
.shopcart-card__button:hover {
    cursor: pointer;
}

.shopcart-card__button :hover {
    cursor: pointer;
}

.shopcart__bottom{
    display: flex;
    background-color:var(--Grey-1);
    width: 100%;
    height: 62.53px;
    justify-content: space-between;
}

.shopcart__amount-text{
    font-family: var(--Fonts-poppins);
    font-weight: 700;
    font-size: 12.94px;
    line-height: 14.38px;
    display: flex;
    align-items: center;
    margin-left: 19.5px;
}

.shopcart__amount-number{
    display: flex;
    align-items: center;
    font-family: var(--Fonts-poppins);
    font-weight: 700;
    font-size: 12.94px;
    line-height: 14.38px;
    margin-right: 20px;
}

.shopcart-cards-box{
    max-height: 436px;
    overflow-y: auto;
    padding-top: 15px
}


@media only screen and (min-width: 663px) {
    .header {
        width: 643px;
        margin: auto;
    }
    .main {
        width: 643px;
        margin: auto;
    }
    .nav-filter {
        padding-left: 0;
    }
    .showcase {
        overflow-x: visible;
        flex-wrap: wrap;
        width: 100%;
        gap: 43px;
        padding: 0;
    }
}
@media only screen and (min-width: 1055px) {
    .nav-filter {
        width: 100%;
    }
    .shopcart {
        margin: -54px 0 0 73px;
        padding: 0;
    }
    .showcase {
        width: 643px;
    }
    .main {
        width: 1055px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .shopcart {
        width: 320px;
    }
    .header {
        width: 1055px;
    }
}
@media only screen and (min-width: 1398px) {
    .main {
        width: 1398px;
    }
    .showcase {
        width: 986px;
    }
    .header {
        width: 1398px;
    }
}