.nav-filter{
    margin-top: 16.48px;
    margin-left: 18px;
    display: flex;
}
.nav-filter__button{
    margin-right: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-filter__butto:hover{
    border: 1.5px solid var(--Grey-4);
}
.nav-filter__button--grey-1{
    padding: 15px;
    background: var(--Grey-1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--Product-2);
    border-radius: 30px;
    box-sizing: border-box;
}
.nav-filter__button--product-2{
    padding: 15px;
    background: var(--Product-2);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--Product-2);
    border-radius: 30px;
    box-sizing: border-box;
}
.nav-filter__button--product-3{
    padding: 15px;
    background: var(--Product-3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--Product-3);
    border-radius: 30px;
    box-sizing: border-box;
}
.nav-filter__button--product-4{
    padding: 15px;
    background: var(--Product-4);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--Product-4);
    border-radius: 30px;
    box-sizing: border-box;
}